<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>

<body>

    <div class="container">
        <header>

            <div class="toggle_btn" onclick="myFunction();">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="logo">
                <h1>YourLogo</h1>
            </div>

            <nav id="nav" class="show">
                <ul>
                    <li>Home</li>
                    <li>Menu</li>
                    <li>About Us</li>
                    <li>Contact</li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </nav>
        </header>
    </div>    
        
    <div class="container1">
        <div class="left">
            <h1>Eat, drink and <br>
                Enjoy</h1>

            <h3>Your Restaurant is Waiting For You.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

            <div class="btn_menu">
                <a href="#" class="btn">Explore</a>
                <a href="#">See Menu</a>
            </div>
        </div>

        <div class="right">
            <!-- <img src="images/Lamp .png" class="imag"> -->
            <img src="images/banner1.png" alt="banner1">
        </div>
        <div class="bookTable">
            <p>Book a Table &nbsp;<img src="images/Arrow_right.png"></p>
        </div>
    </div>

    <div class="container">
        <div class="check">
            <div class="dtm">
                <p>Date &nbsp;<img src="images/Arrow_down.png"></p>
                <span class="down">01/01/2022</span>
            </div>

            <div class="dtm">
                <p>Time &nbsp;<img src="images/Arrow_down.png"></p>
                <span class="down">06:30&nbsp;pm</span>
            </div>

            <div class="dtm">
                <p>Mail &nbsp;<img src="images/Arrow_down.png"></p>
                <span class="down">abcd@gmail.com</span>
            </div>
            
            <div class="available">
                <a href="#">Check&nbsp;Avaibility</a>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="heading">
            <p>Delicious</p>
            <h2>Food Categories</h2>
        </div>
        <div class="categories">
            <div class="card">
                <img src="images/meat.png" alt="meat">
                <h1>Meat</h1>

                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem
                    jeansum.</p>
                <p><button>Read More</button></p>
            </div>
            <div class="card">
                <img src="images/fish.png" alt="meat">
                <h1>Meat</h1>

                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem
                    jeansum.</p>
                <p><button>Read More</button></p>
            </div>
            <div class="card">
                <img src="images/Drinks.png" alt="meat">
                <h1>Meat</h1>

                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem
                    jeansum.</p>
                <p><button>Read More</button></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="care">
            <p>COVID-19 Protocol</p>
            <h2>We care about you</h2>
            <button class="green">Read More</button>
        </div>
    </div>

    <div class="container">
        <div class="story">
            <div class="left">
                <p><span>Story</span></p>
                <h2>Our Restaurant</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna.</p>
                <button>Read More</button>
            </div>
            <div class="right">
                <img src="images/side1.png" alt="side2">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="ingredient">
            <div class="left">
                <img src="images/side2.png" alt="side2">
            </div>
            <div class="right">
                <p><span>Ingredients</span></p>
                <h2>Fresh and healthy
                    ingredients</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna.</p>
                <button>Read More</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="chef">
            <div class="left">
                <p><span>Words from</span></p>
                <h2>The Chef</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna.</p>
                <button>Read More</button>
            </div>
            <div class="right">
                <img src="images/side3.png" alt="side3">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="heading">
            <p>What our</p>
            <h3>Customers Say</h3>
        </div>
        <div class="customer">
            <div class="customer_card">
                <div class="img">
                    <img src="images/customer1.png" alt="customer1">
                </div>
                <div class="content">
                    <h3>Jhon Smith</h3><span>Aug/12/21</span>
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.”
                    </p>
                    <img src="images/Star.png" alt="Star">
                </div>
            </div>
            <div class="customer_card">
                <div class="img">
                    <img src="images/Customer2.png" alt="Customer2">
                </div>
                <div class="content">
                    <h3>Jhon Smith</h3><span>Aug/12/21</span>
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.”
                    </p>
                    <img src="images/Star.png" alt="Star">
                </div>
            </div>

        </div>
        <div class="middle customer_card">
            <div class="img">
                <img src="images/Customer2.png" alt="Customer2">
            </div>
            <div class="content">
                <h3>Jhon Smith</h3><span>Aug/12/21</span>
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.”</p>
                <img src="images/Star.png" alt="Star">
            </div>
        </div>
    </div>

    <div class="container bg">
        <img src="images/form_bg.png" alt="">
        <div class="main">
            <div class="heading">
                <p>Subscirbe</p>
                <h3>To Our Newsletter</h3>
            </div>
            <div class="form">

                <div><input type="text" placeholder="NAME"></div>
                <div><input type="email" placeholder="EMAIL"></div>
                <div><textarea name="massage" placeholder="MESSAGE" id="" cols="30" rows="10"></textarea></div>
                <button>Send Message</button>
            </div>
        </div>
    </div>

    <footer>
        <div class="about">
            <h3 class="commom">About</h3>
            <ul>
                <li>History</li>
                <li>Our Team</li>
                <li>Mission Statement</li>
                <li>Terms & Condition</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="what_we_do">
            <h3 class="common">What we do</h3>
            <ul>
                <li>News and stories</li>
                <li>Publications</li>
                <li>Take action</li>
                <li>Recomendations</li>
                <li>Help</li>
            </ul>
        </div>
        <div class="last">
            <h3>Sign Up To Receive
                Our Newsletter</h3>

            <input type="text">
            <div class="line">
                <p>Follow us! </p>
                <img src="images/social.png" alt="social">

            </div>
        </div>
    </footer>


    <script>
        function myFunction() {
            let navbar = document.getElementById('nav');
            navbar.classList.toggle('show');
        }
    </script>
</body>

</html>